.side-bar{
    position:fixed;
    left:0px;
    width:80px;
    background-color: white;
    top:55px;
    bottom: 0px;
    z-index: 4;
    padding-top: 4px;
}
.sidebar-link{
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color:rgb(236, 234, 234);
}
.icon{
    width:25px;
    display: block;
    margin-bottom: 4px;
}
.icon-name{
    font-family: 'Roboto','Arial';
    font-size:10px;
}
   